<footer>
    <div class="icons_footer">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
    </div>
    <p>© Copyright 2024 | developed by Trinidad Joel </p>
</footer>